$time:0.45s;

.fade {

    &-enter-active,
    &-leave-active {
        transition: opacity $time ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}



.slide-right {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(20px);
        opacity: 0;
    }
}


.slide-left {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(-20px);
        opacity: 0;
    }
}

.slide-left-full {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(-100%);
    }
}

.slide-top {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateY(-20px);
        opacity: 0;
    }
}



.slide-bottom {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateY(20px);
        opacity: 0;
    }
}

.slide-scale-top-left {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform-origin: 0 0;
        transform: translate(-150px, -30px) scale(0.4);
        opacity: 0;
    }
}

.scale-y-bottom {

    &-enter-active,
    &-leave-active {
        transition: height $time ease;
        height: 25px;
        overflow-y: hidden;
    }

    &-enter-from,
    &-leave-to {
        height: 0px;
    }
}

.scale-y-top {

    &-enter-active,
    &-leave-active {
        transition: height $time ease;
        height: 25px;
        overflow-y: hidden;
    }

    &-enter-from,
    &-leave-to {
        height: 0px;
    }
}

.slide-left-in-fade-out {
    &-enter-active {
        transition: all $time ease-out;
    }

    &-leave-active {
        transition: all $time ease-in;
    }

    &-enter-from {
        transform: translateX(-20px);
        opacity: 0;
    }

    &-leave-to {
        opacity: 0;
    }
}