.fade {

    &-enter-active,
    &-leave-active {
        transition: opacity 0.5s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}



.slide-right {
    &-enter-active {
        transition: all 0.3s ease-out;
    }

    &-leave-active {
        transition: all 0.3s ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(20px);
        opacity: 0;
    }
}


.slide-left {
    &-enter-active {
        transition: all 0.3s ease-out;
    }

    &-leave-active {
        transition: all 0.3s ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(-20px);
        opacity: 0;
    }
}

.slide-top {
    &-enter-active {
        transition: all 0.3s ease-out;
    }

    &-leave-active {
        transition: all 0.3s ease-in;
    }

    &-enter-from,
    &-leave-to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.scale-player-img {

    &-enter-active,
    &-leave-active {
        transition: opacity 0.5s ease;
    }

    &-enter-from,
    &-leave-to {
        width: 50px;
        height: 50px;
    }
}

.slide-left-in-fade-out {
    &-enter-active {
        transition: all 0.3s ease-out;
    }

    &-leave-active {
        transition: all 0.3s ease-in;
    }

    &-enter-from {
        transform: translateX(-20px);
        opacity: 0;
    }

    &-leave-to {
        opacity: 0;
    }
}