/*@media screen and (max-width: 899px) {
    * {
        font-size: xx-small;
    }
}*/

body,
html {
    margin: 0;
    padding: 0;
    overflow-X: hidden;
    background-color: map-get($map: $bg, $key: 1);
    color: whitesmoke;
}

input,
select {
    border: none;
    box-shadow: none;
    background-color: rgb(34, 35, 43);
    border: 1px solid rgb(53, 54, 66);
    color: rgb(213, 215, 236);
    padding: 1px 5px;
}

button,a,.btn {
    background-color: rgb(34, 35, 43);
    border: 1px solid rgb(53, 54, 66);
    color: rgb(213, 215, 236);
    padding: 1px 5px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: rgb(44, 46, 56);
        border: 1px solid rgb(64, 65, 80);
    }

    &.success {
        background-color: rgb(200, 240, 200);
        border: 1px solid rgb(180, 220, 180);
        color: rgb(80, 120, 80);

        &:hover {
            background-color: rgb(190, 230, 190);
            border: 1px solid rgb(170, 210, 170);
        }
    }

    &.danger {
        background-color: rgb(240, 200, 200);
        border: 1px solid rgb(220, 180, 180);
        color: rgb(120, 80, 80);

        &:hover {
            background-color: rgb(230, 190, 190);
            border: 1px solid rgb(210, 170, 170);
        }
    }
}

table{
    th,td{
        padding: 0 5px;
    }
}