.hide-xs {
    @media screen and (max-width: 899px) {
        & {
            display: none !important;
        }
    }
}

.hide-lg {
    @media screen and (min-width: 899px) {
        & {
            display: none !important;
        }
    }
}

.text-danger{
    color: rgb(120, 80, 80);
}
.text-success{
    color: rgb(80, 120, 80);
}