@import "@/theme/theme.scss";
$width-hero: calc(calc(100vw / 10) - 5px);
$height-hero: $width-hero;

$width-hero-xs: calc(calc(100vw / 5) - 5px);
$height-hero-xs: $width-hero-xs;

.play {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-content: center;

    .play-date {
      display: flex;
      justify-content: center;

      .play-date-content {
        background-color: map-get($map: $bg, $key: 2);
        padding: 5px 13px 5px 13px;
        clip-path: polygon(0 0, 5% 100%, 95% 100%, 100% 0);
      }
    }

    .play-options {
      display: flex;
      justify-content: space-between;
      padding: 0 10% 15px 10%;

      .side-win {
        padding: 1px 5px;
        font-size: smaller;

        &.wining {
          background-color: map-get($map: $color, $key: win);
          border: 1px solid map-get($map: $color, $key: win-line);
          color: map-get($map: $color, $key: win-line);
        }
      }
    }

    .result-content {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(10, $width-hero);
      align-content: center;
      justify-content: center;

      .result {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
        text-align: left;
        width: $width-hero;
        height: $height-hero;
        border-bottom: 5px solid map-get($map: $grey, $key: 500);

        &.good {
          border-top: 5px solid map-get($map: $color, $key: good);
        }
        &.bad {
          border-top: 5px solid map-get($map: $color, $key: bad);
        }

        &.win {
          border-bottom: 5px solid map-get($map: $color, $key: win);
        }
        &.result-list:hover {
          .player-img-item {
            transform: scale(2);
          }
        }
        &.result-list.bot {
          .hero-img {
            display: initial;
          }
        }

        @media screen and (max-width: 899px) {
          & {
            width: $width-hero-xs;
            height: $height-hero-xs;
          }
        }

        .item {
          z-index: 2;
          color: white;
          padding: 0 5px;
          text-shadow: 0px 0px 3px black;
          width: $width-hero;
          &.elo {
            .elo-plus {
              &.success {
                color: map-get($map: $color, $key: good-plus);
              }
              &.danger {
                color: map-get($map: $color, $key: bad-plus);
              }
            }
          }
        }
        .item-form {
          z-index: 2;
          background-color: transparent;
          color: white;
          margin: 0 5px;
          width: calc(100% - 15px);
        }
        .kda {
          display: grid;
          grid-template-columns: repeat(3, calc(100% / 3));
        }
        .black-shadow {
          position: absolute;
          width: $width-hero;
          height: $height-hero;
          z-index: 1;
          background-color: transparent;
          border: none;

          @media screen and (max-width: 899px) {
            & {
              width: $width-hero-xs;
              height: $height-hero-xs;
            }
          }

          &.bot {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
        .player-img {
          display: flex;
          justify-content: center;
          align-content: flex-end;
          z-index: 1;
          position: absolute;
          width: $width-hero;
          height: $height-hero;
          transform: translateY(-15px);

          @media screen and (max-width: 899px) {
            & {
              width: $width-hero-xs;
              height: $height-hero-xs;
            }
          }

          &-item {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            transition: 0.15s;

            &.good {
              box-shadow: 0px 0px 5px map-get($map: $color, $key: good);
            }
            &.bad {
              box-shadow: 0px 0px 5px map-get($map: $color, $key: bad);
            }
          }
        }
        .hero-img {
          position: absolute;
          width: $width-hero;
          height: $height-hero;

          @media screen and (max-width: 899px) {
            & {
              width: $width-hero-xs;
              height: $height-hero-xs;
            }
          }
        }
      }

      @media screen and (max-width: 899px) {
        & {
          grid-template-columns: repeat(5, $width-hero-xs);
        }
      }
    }
  }